@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

html,
body,
#map {
	height: 100%;
	margin: 0;
}

.search-form {
	position: fixed;
	top: 21px;
	left: 21px;
	z-index: 9999;
	background: rgba(0,0,0,0.25);
	padding: 13px;
	height: 55px;
	display: flex;
	flex-wrap: wrap;
}

.search-bar,
.search-submit {
	height: 100%;
	border: none;
}

.search-bar {
	padding: 5px 8px;
	width: 233px;
}

.search-submit {
	margin-left: 8px;
	padding: 5px 13px;
	background: #333;
	color: blue;
	font-size: 14px;
	font-weight: bolder;
}

#places {
	position: fixed;
	top: 21px;
	right: 34px;
	width: 350px;
	background: rgba(0,0,0,0.25);
	padding: 8px 13px;
	max-height: 90%;
	overflow-y: auto;
	
	transition: max-height 0.5s;
}

#places.closed {
	max-height: 41px;
	overflow: hidden;
}

.places-list {
	list-style-type:none;
	padding: 0;
	margin: 0;
}

.place-link {
	text-decoration: none;
	color: #222;
	margin: 8px 0;
	display: block;
}

.place-info {
	background: white;
	padding: 8px 13px;
	border: 2px solid rgba(0,0,0,0.5);
}

.place-info.current {
	background: #333;
	color: blue;
}

.place-info.hidden {
	display: none;
}

.place-name {
	margin-top: 0;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 14px;
}

.place-address {
	margin: 0;
	font-size: 10px;
}

.places-list-toggle {
	padding: 5px 13px;
	background: #333;
	color: red;
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.info-window {
	max-width: 250px;
	text-align: center;
}

.window-name {
	font-size: 16px;
	font-weight: bold;
	color: orange;
}

@media screen and (max-width: 750px) {

	.search-form {
		top: 0;
		left: 0;
		width: 100%;
		padding: 8px;
		height: 50px;
	}

	.search-bar {
		width: 100%;
		font-size: 12px;
	}

	.search-submit {
		padding: 0;
		margin-left: 0;
		margin-top: 13px;
		height: auto;
		padding: 13px 21px;
		font-size: 13px;
	}

	#places {
		position: fixed;
		top: auto;
		bottom: 0;
		left: 0;
		width: 100%;
		max-height: 60%;
		margin: 0;
		padding: 0;
		border-top: 3px solid #333;
		
		-webkit-transition: max-height 0.5s;
		-moz-transition: max-height 0.5s;
		transition: max-height 0.5s;
	}
	
	#places.closed {
		max-height: 32px;
		overflow: hidden;
	}

	.place-info {
		margin: 3px;
	}

	.place-name {
		font-size: 13px
	}

	.place-address {
		font-size: 12px;
	}
	
	.places-list-toggle {
		height: 30px;
	}
}